html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  #background-image: url(leftfalme.png) repeat;
  #color: #777;
  background: 	#000000}
  
#header
{ background: #1D1D1D url(leftfalme.png) repeat;
  background-size: 960px 600px;
  height: 240px;
  width: 900px;
  margin-left: auto; 
  margin-right: auto;
  }

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  color: black;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: 	#000000 ;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;}


a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;
}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto; }


#logo
{ width: 825px;
  position: relative;
  height: 168px;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #cc0000;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 900px;
  height: 72px;
  padding: 0;
  background:  #800000;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background:  #cc0000;
}

  

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  #background: #F5F5F5;
  background: #F8F8F8;
} 

#content
{ text-align: left;
  width: 800px;
  padding: 0;
 display:flex;
}


#footer
{ width: 900px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #A52A2A;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.vertical-menu {
  width: 250px;
  margin-top: 15px;
  margin-right: 20px;
  float: left;
  position: relative;
  background-color: #800000;;
}
.vertical-menu ul li {
  border-bottom: 1px solid #C0C0C0;
  padding-left: 0;
  background: none;
  font-size: 13px
}
.vertical-menu ul li a {
  display: inline-block;
  width: 222px;
  padding-top: 4px;
  padding-bottom: 4px
}
.vertical-menu ul {
  width: 222px;
  overflow: hidden;
  list-style: none;
  border: none;
  text-align: left;
  margin: 0px
}
vertical-menu li {
  padding: 0 0 .2em 13px;
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  background: none;
  font-size: 13px;
  margin: 0.15em 0 0.15em .5em
}
.edit-item {
  line-height: 20px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px 0 0;
  min-height: 1085px
}

.vertical-menu {
  width: 112px;
  margin-right: 2%;
}

.vertical-menu ul, .vertical-menu ul li a {
  width: auto;
}
.vertical-menu {
  margin-right: 0;
  padding: 16px;
}

a{
  color: black;
  text-decoration: none
}


a:hover {
  color: blue;
  text-decoration: none
}

.menu.side li a{
	color: white;
	text-decoration: none;
}

.menu.side li a:hover {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.left {
	flex: 1;
	width: 600px;
	float:right;
	max-width: 1000px;
	padding-top: 12px;
}

#size {
	font-size:15px;
	text-align: justify;
}

#only-text {
	width: 837px;
    overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: white;
}

#content-text {
	text-align: left;
  width: 580px;
  padding: 0;
  text-align:justify;
  font-size:15px;
}

#content-text-contact {
	text-align: left;
  width: 820px;
  padding: 0;
  text-align:justify;
  font-size:15px;
   text-align: center;
}

#content-text-worktime {
	text-align: left;
  width: 820px;
  padding: 0;
  text-align:justify;
  font-size:15px;
 
}

.contact-text{
	margin: 0 auto 0 auto;
	width: 350px;
	text-align: 15px;
}
.addition {
	text-align: center;
}
.different {
	color: #cc0000;
	font-weight: bold;
	text-decoration: underline;
}

.contactus {
	text-align: center;
	font: normal 175% 'Gungsuh', arial, sans-serif;
	
}

.form {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	width: 400px;
	
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #cc0000;
}

.question {
	height: 200px;
}

#color-span {
	color: #b30000;
}

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;
  border-style:outset;
  border-color: #800000;}


.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent no-repeat left center;
  font-size: 15px;
  color: green;
  letter-spacing: 3px;} 

 .sidebar li a:hover {
	 color:	#B22222;
 }
 
.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 
  
  .search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}
  
  
  
.one {
	padding: 10px 0 0 0;
	width: 300px;
	height:300px;
}


.views-field-title {
	margin: 0;
	padding: 0;
	background: url("../images/title_bg.png") repeat scroll 0 0 transparent;
	bottom: 0;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 15px;
	height: 32px;
	left: 0;
	line-height: 31px;
	padding-left: 13px;
	position: absolute;
	width: 207px;
	z-index: 100;
	text-align: left;
	overflow: hidden
}
.field-content .views-field-field-model-value {
	overflow: hidden;
	display: block;
	width: 180px;
	height: 25px;
	text-align: left
}

.mySlides {display:none;}

.first {
	flex: 1;
	width: 280px;
	#float:right;
	height: 380px;
	max-width: 1000px;
	display: inline-block;
	#background: #1D1D1D url(first.png) repeat
	position:relative;
  
}

.first-horizont {
  flex: 1;
  width: 500px;
  #float:right;
  height: 400px;
  max-width: 1000px;
  display: inline-block;
  #background: #1D1D1D url(first.png) repeat
  position:relative;
  
}

.second {
	flex: 1;
	width: 280px;
	#float:right;
	height: 380px;
	max-width: 1000px;
	display: inline-block;
}

.transparent_text {
	position: absolute;
  width: 260px;
	height: 380px
  transform: translate(-50%, -50%);
	#cursor: not-allowed;
}
.transparent_text-horizont {
  position: absolute;
  width: 500px;
  height: 400px
  transform: translate(-50%, -50%);
 # cursor: not-allowed;
  margin: auto;
    
}

.type {
    display:block;
    background:#000;
    background:  #1a1a1a;
    color:#FFF;
    padding:20px 5px;
	text-align: center;
	text-decoration: bold;
	font-size: 15px;
}

.instruments {
	color: #be8229;
	#cursor: not-allowed;
}

.pictures {
	flex: 1;
	width: 300px;
	height: 500px;
	max-width: 1000px;
	display: inline-block;
	position:relative;
	padding-top: 20px;
}

.pictures-table {
	flex: 1;
	width: 500px;
	height: 400px;
	max-width: 1000px;
	display: inline-block;
	position:relative;
	padding-top: 20px;
}

.characteristic {
	flex: 1;
	width: 260px;
	float:right;
	height: 500px;
	max-width: 1000px;
	display: inline-block;	
	padding-top: 0px;
}

.characteristic-table {
	max-width: 1000px;
	display: inline-block;	
	padding-top: 10px;
	padding-bottom: 10px;
}
.features {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500px;
}

.features-contact {
	ont-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
	pad
}
.checked {
    color: orange;
}
.features td, .features th {
    border: 1px solid #ddd;
    padding: 8px;
}

.features tr:nth-child(even) { 
	background-color: #f2f2f2;
}

.features tr:hover { 
	background-color: #ddd;
}

.features th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #006400;
    color: white;
}

.features-contact td, .features-contact th {
    border: 1px solid #ddd;
    padding: 8px;
}

.features-contact tr:nth-child(even) { 
	background-color: #f2f2f2;
}

.features-contact tr:hover { 
	background-color: #ddd;
}

.features-contact th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #800000;
    color: white;
}

.char {
	color: black;
	font-size: 15px;
	padding-top: 10px;

	line-height: 2.3;
	
}

.title {
	font-size: 35px;
	padding-bottom:10px;
}

.first-word {
	color: black;
	font-weight: bold;
	text-decoration: italic;
}

.first-picture {
	flex: 1;
	width: 500px;
	height: 400px;
	max-width: 1000px;
	display: inline-block;
	position:relative;
}

#myImg, #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover, #myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

